<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="LogFileDirectory" value=""/>

    <add key="logError" value="True" />
    <add key="ConnectionString" value="Data Source=(localdb)\ProjectsV12;Initial Catalog=TestDataBase; AttachDBFilename=|DataDirectory|\TestDataBase.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
    <add key="logMessage" value="True" />
    <add key="logWarning" value="True" />
    <add key="logToDatabase" value="True" />
    <add key="logToFile" value="True" />
    <add key="logToConsole" value="True" />
  </appSettings>  
</configuration>